/* === MISC STUFF === */

.pagination span a,
.pagination span a:link {
  color: #000000;
  border-color: #000000;
}
.pagination span a:visited {
  color: #888;
  border-color: #898989;
}

.nextprev {
  margin-top: 5px !important;
}

/* move post profile info to the left side */
.postprofile {
  border-left: 0;
  border-right: 1px solid #ffffff;
  float: left;
  width: 150px;
}
.postbody {
  padding-left: 10px;
}
